# Node modules
node_modules/

# Output directory
dist/

# Temporary files
.tmp/
.env

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS specific files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
