<div class="container mt-4">
  <header class="d-flex flex-column align-items-center mb-4">
    <h1 class="mb-4">Dashboard</h1>
    <p class="welcome-message">Welcome, {{ showusername }}!</p>
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <button pButton type="button" (click)="showHouses()" label="Houses" class="nav-link custom-button"><i class="fas fa-home house-icon"></i></button>
        </li>
        <li class="nav-item">
          <button pButton type="button" (click)="showBills()" label="Bills" class="nav-link custom-button"> <i class="fas fa-file-invoice-dollar bills-icon"></i> </button>
        </li>
        <li class="nav-item">
          <button pButton type="button" (click)="showUsers()" label="Users" class="nav-link custom-button"> <i class="fas fa-users user-icon"></i> </button>
        </li>
        <li class="nav-item">
          <button pButton type="button" (click)="showReports()" label="Reports" class="nav-link custom-button"> <i class="fas fa-file-alt report-icon"></i> </button>
        </li>
        <li class="nav-item">
          <button pButton type="button" (click)="logout()" label="Logout" class="nav-link custom-button">  <i class="fa fa-sign-out-alt logout-icon"z></i>  </button>
        </li>
      </ul>
    </nav>
  </header>
  
  <!-- Houses Section -->
  <div *ngIf="displayHouses" class="mb-4">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h2 class="m-0">   <i class="fas fa-home house-icon"></i> House Section</h2>
      <div class="p-input-icon-left">
        <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search keyword" />
      </div>
    </div>


    <!-- Search Bar with p-inputIcon -->
    <p-table #dt2 [value]="houses" [paginator]="true" [rows]="10" [globalFilterFields]="['housename', 'meterNumber', 'address', 'owner']">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="houseId" class="table-cell-padding">House ID</th>
          <th class="table-cell-padding">House Name</th>
          <th class="table-cell-padding">Meter Number</th>
          <th class="table-cell-padding">Full Address</th>
          <th pSortableColumn="city" class="table-cell-padding">City</th>
          <th pSortableColumn="state" class="table-cell-padding">State/Region</th>
          <th class="table-cell-padding">Owner Name</th>
          <th class="table-cell-padding">Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-house>
        <tr>
          <td class="table-cell-padding">{{ house.houseId }}</td>
          <td class="table-cell-padding">{{ house.housename }}</td>
          <td class="table-cell-padding">{{ house.meterNumber }}</td>
          <td class="table-cell-padding">{{ house.address }}</td>
          <td class="table-cell-padding">{{ house.city }}</td>
          <td class="table-cell-padding">{{ house.state }}</td>
          <td class="table-cell-padding">{{ house.owner }}</td>
          <td class="table-cell-padding">
            <button pButton  type="button"  icon="pi pi-pencil"  (click)="updateHouse(house)"  class="p-button-info mr-2 mb-2"></button>
            <button  pButton type="button"  icon="pi pi-trash" (click)="deleteHouse(house.houseId)" class="p-button-danger mb-2" ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <button 
      pButton 
      type="button" 
      (click)="showDialogforHouse()" 
      class="register-button mt-3 mb-2">
      <i class="fa fa-plus"></i> Register House
    </button>
  </div>

  <!-- Bills Section -->
  <div *ngIf="displayBills" class="mb-4">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h2 class="m-0"> <i class="fas fa-file-invoice-dollar bills-icon "></i>Bills Section</h2>
      <div class="p-input-icon-left">
        <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search keyword" />
      </div>
    </div>
    <p-table
      #dt2
      [value]="bills"
      [paginator]="true"
      [rows]="10"
      [globalFilterFields]="['housename', 'meterNumber', 'billDate', 'meterNumber','billStatus','owner']"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="table-cell-padding">Bill ID</th>
          <th class="table-cell-padding">House Name</th>
          <th class="table-cell-padding">Owner</th>
          <th class="table-cell-padding">Meter Number</th>
          <th class="table-cell-padding">Used Unit</th>
          <th class="table-cell-padding">Total</th>
          <th pSortableColumn="billStatus" class="table-cell-padding">Status</th>
          <th pSortableColumn="billDate" class="table-cell-padding">Create Date</th>

          <th pSortableColumn="dueDate" class="table-cell-padding">DueDate</th>
          <th pSortableColumn="paidDate" class="table-cell-padding">PaidDate</th>
          <th class="table-cell-padding">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bill>
        <tr>
          <td class="table-cell-padding">{{ bill.billId }}</td>
          <td class="table-cell-padding">{{ bill.housename }}</td>
          <td class="table-cell-padding">{{ bill.owner }}</td>
          <td class="table-cell-padding">{{ bill.meterNumber }}</td>
          <td class="table-cell-padding">{{ bill.usedUnit }} Watt</td>
          <td class="table-cell-padding">{{ bill.total }} MMK</td>
          <td class="table-cell-padding"
             [ngClass]="{
                   'status-unpaid': bill.billStatus === 'UNPAID',
                   'status-paid': bill.billStatus === 'PAID',
                   'status-overdue': bill.billStatus === 'OVERDUE'
                  }">
              {{ bill.billStatus }}
          </td>

          <td class="table-cell-padding">{{ bill.billDate | date: 'dd/MM/yyyy' }}</td>
          <td class="table-cell-padding">{{ bill.dueDate | date: 'dd/MM/yyyy' }}</td>
          <td class="table-cell-padding">{{ bill.paidDate ? (bill.paidDate | date: 'dd/MM/yyyy') : 'Not Paid' }}</td>
          <td class="table-cell-padding">
            <button pButton type="button" icon="pi pi-pencil" (click)="updateBill(bill)" class="p-button-info mr-2 mb-2"></button>
            <button pButton type="button" icon="pi pi-trash" (click)="deleteBill(bill.billId)" class="p-button-danger mb-2"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <button 
      pButton 
      type="button" 
      (click)="showDialogforBill()" 
      class="register-button mt-3 mb-2">
      <i class="fa fa-plus"></i> New Bill
    </button>
  </div>

  <!-- Users Section -->
  <div *ngIf="displayUsers" class="mb-4">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h2 class="m-0"><i class="fas fa-users user-icon"></i>User Section</h2>
      <div class="p-input-icon-left">
        <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search keyword" />
      </div>
    </div>
    <p-table
      #dt2
      [value]="users"
      [paginator]="true"
      [rows]="10"
      [globalFilterFields]="['username', 'email', 'phoneNumber', 'userRole']"
    >
   
      <ng-template pTemplate="header">
        <tr>
          <th class="table-cell-padding">User ID</th>
          <th class="table-cell-padding">User Name</th>
          <th class="table-cell-padding">Email</th>
          <th class="table-cell-padding">Phone Number</th>
          <th pSortableColumn="isActive" class="table-cell-padding">isActive</th>
          <th pSortableColumn="userRole" class="table-cell-padding">Role</th>
          <th pSortableColumn="createDate" class="table-cell-padding">Create Date</th>
          <th class="table-cell-padding">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td class="table-cell-padding">{{ user.userId }}</td>
          <td class="table-cell-padding">{{ user.username }}</td>
          <td class="table-cell-padding">{{ user.email }}</td>
          <td class="table-cell-padding">{{ user.phoneNumber }}</td>
          <td class="table-cell-padding">{{ user.active }}</td>
          <td class="table-cell-padding">{{ user.role }}</td>
          <td class="table-cell-padding">{{ user.createDate | date: 'dd/MM/yyyy' }}</td>
          <td class="table-cell-padding">
            <button pButton type="button" icon="pi pi-pencil" (click)="updateUser(user)" class="p-button-info mr-2 mb-2"></button>
            <button pButton type="button" icon="pi pi-trash" (click)="deleteUser(user.userId)" class="p-button-danger mb-2"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <button 
      pButton 
      type="button" 
      (click)="showDialogforUser()" 
      class="register-button mt-3 mb-2">
      <i class="fa fa-plus"></i> Register User
    </button>
  </div>

  <!-- Report Section -->
  <div *ngIf="displayReport" class="mb-4">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h2 class="m-0"><i class="fas fa-file-alt report-icon"></i> Reprot Section</h2>
      <div class="p-input-icon-left">
        <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search keyword" />
      </div>
    </div>
    <p-table
      #dt2
      [value]="reports"
      [paginator]="true"
      [rows]="10"
      [globalFilterFields]="['houseId', 'billId', 'username', 'usedUnit']"
    >
   
      <ng-template pTemplate="header">
        <tr>
          <th class="table-cell-padding">House ID</th>
          <th class="table-cell-padding">Bill Id</th>
          <th class="table-cell-padding">House Name</th>
          <th class="table-cell-padding">User Name</th>
          <th class="table-cell-padding">Meter Number</th>
          <th class="table-cell-padding">Used Unit</th>
          <th pSortableColumn="userRole" class="table-cell-padding">Total</th>
          <th pSortableColumn="createDate" class="table-cell-padding">Bill Status</th>
          <th pSortableColumn="userRole" class="table-cell-padding">Create Date</th>
          <th pSortableColumn="userRole" class="table-cell-padding">Paid Date</th>
          <th pSortableColumn="createDate" class="table-cell-padding">Due Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-report>
        <tr>
          <td class="table-cell-padding">{{ report.houseId }}</td>
          <td class="table-cell-padding">{{ report.billId }}</td>
          <td class="table-cell-padding">{{ report.housename }}</td>
          <td class="table-cell-padding">{{ report.username }}</td>
          <td class="table-cell-padding">{{ report.meterNumber }}</td>
          <td class="table-cell-padding">{{ report.usedUnit }} Watt</td>
          <td class="table-cell-padding">{{ report.total }}</td>
          <td class="table-cell-padding"
             [ngClass]="{
                   'status-unpaid': report.billStatus === 'UNPAID',
                   'status-paid': report.billStatus === 'PAID',
                   'status-overdue': report.billStatus === 'OVERDUE'
                  }">
              {{ report.billStatus }}
          </td>
          <td class="table-cell-padding">{{ report.createDate | date: 'dd/MM/yyyy'}}</td>
          <td class="table-cell-padding">{{ report.paidDate ? (report.paidDate | date: 'dd/MM/yyyy') : 'Not Paid' }}</td>
          <td class="table-cell-padding">{{ report.dueDate | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- 
Forms -->

<p-dialog header="Create/Edit User" [(visible)]="displayUserForm" modal="modal" [style]="{'width':'50vw'}" [closable]="true" [dismissableMask]="true">
  <form #userForm="ngForm" (ngSubmit)="onSubmitUser(userForm)" novalidate>
    
    <div class="form-group mb-3">
      <label for="username"><i class="fas fa-user"></i> Username</label>
      <input type="text" id="username" name="username" class="form-control"
             [(ngModel)]="selectedUser.username" #username="ngModel" required>
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
        <div *ngIf="username.errors?.['required']">Username is required.</div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="email"><i class="fas fa-envelope"></i> Email</label>
      <input type="email" id="email" name="email" class="form-control"
             [(ngModel)]="selectedUser.email" #email="ngModel" required email>
      <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Invalid email format.</div>
      </div>
    </div>

    <!-- Conditionally display password field only when creating a new user -->
    <div class="form-group mb-3" *ngIf="!isUserEditMode">
      <label for="password"><i class="fas fa-lock"></i> Password</label>
      <input type="password" id="password" name="password" class="form-control"
             [(ngModel)]="selectedUser.password" #password="ngModel" required pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{9,}$">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
        <div *ngIf="password.errors?.['required']">Password is required.</div>
        <div *ngIf="password.errors?.['pattern']">Password must be at least 9 characters long, include letters, numbers, and an uppercase letter.</div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="phoneNumber"><i class="fas fa-phone"></i> Phone Number</label>
      <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
             [(ngModel)]="selectedUser.phoneNumber" #phoneNumber="ngModel" required pattern="^09\d{9}$">
      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="text-danger">
        <div *ngIf="phoneNumber.errors?.['required']">Phone number is required.</div>
        <div *ngIf="phoneNumber.errors?.['pattern']">Phone number must start with 09 followed by 9 digits.</div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="role"><i class="fas fa-user-tag"></i> Role</label>
      <select id="role" name="role" class="form-control"
              [(ngModel)]="selectedUser.role" #role="ngModel" required>
        <option [ngValue]="UserRole.EMPLOYEE">Employee</option>
        <option [ngValue]="UserRole.CUSTOMER">Customer</option>
      </select>
      <div *ngIf="role.invalid && (role.dirty || role.touched)" class="text-danger">
        Role is required.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="active"><i class="fas fa-check-circle"></i> Active</label>
      <input type="checkbox" id="active" name="active" class="form-check-input"
             [(ngModel)]="selectedUser.active">
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
        {{ isUserEditMode ? 'Update' : 'Save' }} User
      </button>
    </div>
  </form>
</p-dialog>




<p-dialog header="Create/Edit House" [(visible)]="displayHouseForm" modal="modal" [style]="{'width':'50vw'}" [closable]="true" [dismissableMask]="true">
  <form #houseForm="ngForm" (ngSubmit)="onSubmitHouse(houseForm)" novalidate>
    <div class="container">
      <div class="form-group mb-3">
        <label for="housename"><i class="fas fa-home"></i> House Name</label>
        <input type="text" id="housename" name="housename" class="form-control"
               [(ngModel)]="selectedHouse.housename" #housename="ngModel" required>
        <div *ngIf="housename.invalid && (housename.dirty || housename.touched)" class="text-danger">
          <div *ngIf="housename.errors?.['required']">House Name is required.</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="meterNumber"><i class="fas fa-tachometer-alt"></i> Meter Number</label>
        <input type="text" id="meterNumber" name="meterNumber" class="form-control"
               [(ngModel)]="selectedHouse.meterNumber" #meterNumber="ngModel" required pattern="^SM\d{5}$">
        <div *ngIf="meterNumber.invalid && (meterNumber.dirty || meterNumber.touched)" class="text-danger">
          <div *ngIf="meterNumber.errors?.['required']">Meter Number is required.</div>
          <div *ngIf="meterNumber.errors?.['pattern']">Meter Number must start with 'SM' followed by  5 digits.</div>
        </div>
        <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
      </div>

      <div class="form-group mb-3">
        <label for="address"><i class="fas fa-map-marker-alt"></i> Address</label>
        <input type="text" id="address" name="address" class="form-control"
               [(ngModel)]="selectedHouse.address" #address="ngModel" required>
        <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">
          <div *ngIf="address.errors?.['required']">Address is required.</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="city"><i class="fas fa-city"></i> City</label>
        <input type="text" id="city" name="city" class="form-control"
               [(ngModel)]="selectedHouse.city" #city="ngModel" required>
        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="text-danger">
          <div *ngIf="city.errors?.['required']">City is required.</div>
        </div>
      </div>
      
      <div class="form-group mb-3">
        <label for="state"><i class="fas fa-map"></i> State</label>
        <input type="text" id="state" name="state" class="form-control"
               [(ngModel)]="selectedHouse.state" #state="ngModel" required>
        <div *ngIf="state.invalid && (state.dirty || state.touched)" class="text-danger">
          <div *ngIf="state.errors?.['required']">State is required.</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="owner"><i class="fas fa-user"></i> Owner</label>
        <select id="owner" name="owner" class="form-control"
                [(ngModel)]="selectedHouse.owner" #owner="ngModel" required>
          <option *ngFor="let user of customers" [value]="user.username">{{ user.username }}</option>
        </select>
        <div *ngIf="owner.invalid && (owner.dirty || owner.touched)" class="text-danger">
          <div *ngIf="owner.errors?.['required']">Owner is required.</div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" [disabled]="houseForm.invalid">
          {{ isHouseEditMode ? 'Update' : 'Save' }} House
        </button>
      </div>
    </div>
  </form>
</p-dialog>


<p-dialog header="Create/Edit Bill" [(visible)]="displayBillForm" modal="modal" [style]="{'width':'50vw',' text-align':'center'}" [closable]="true" [dismissableMask]="true">
  <form #billForm="ngForm" (ngSubmit)="onSubmitBill(billForm)" novalidate>
    <div class="container">
      <div class="form-group mb-3">
        <label for="usedUnit"><i class="fas fa-bolt"></i> Used Unit in Watt</label>
        <input type="number" id="usedUnit" name="usedUnit" class="form-control"
               [(ngModel)]="selectedBill.usedUnit" #usedUnit="ngModel" required min="0" step="0.1"
               (ngModelChange)="calculateTotal()" placeholder="Enter used units">
        <div *ngIf="usedUnit.invalid && (usedUnit.dirty || usedUnit.touched)" class="text-danger">
          <div *ngIf="usedUnit.errors?.['required']">Used Unit is required.</div>
          <div *ngIf="usedUnit.errors?.['min']">Used Unit must be greater than or equal to 0.</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="total"><i class="fas fa-dollar-sign"></i> Total</label>
        <input type="number" id="total" name="total" class="form-control"
               [(ngModel)]="selectedBill.total" #total="ngModel" required min="0" step="0.01" readonly>
        <div *ngIf="total.invalid && (total.dirty || total.touched)" class="text-danger">
          <div *ngIf="total.errors?.['required']">Total is required.</div>
          <div *ngIf="total.errors?.['min']">Total must be greater than or equal to 0.</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="billStatus"><i class="fas fa-receipt"></i> Bill Status</label>
        <select id="billStatus" name="billStatus" class="form-control"
                [(ngModel)]="selectedBill.billStatus" #billStatus="ngModel" required>
          <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
        </select>
        <div *ngIf="billStatus.invalid && (billStatus.dirty || billStatus.touched)" class="text-danger">
          <div *ngIf="billStatus.errors?.['required']">Bill Status is required.</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="houseName"><i class="fas fa-home"></i> House Name</label>
        <select id="houseName" name="houseName" class="form-control"
                [(ngModel)]="selectedBill.housename" #housename="ngModel" required>
          <option *ngIf="!allHousesnames.length" disabled>Loading...</option>
          <option *ngFor="let housename of allHousesnames" [value]="housename">
            {{ housename }}
          </option>
        </select>
        <div *ngIf="housename.invalid && (housename.dirty || housename.touched)" class="text-danger">
          <div *ngIf="housename.errors?.['required']">House Name is required.</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="owner"><i class="fas fa-user"></i> Owner</label>
        <select id="owner" name="owner" class="form-control"
                [(ngModel)]="selectedBill.owner" #owner="ngModel" required>
          <option *ngFor="let user of customers" [value]="user.username">{{ user.username }}</option>
        </select>
        <div *ngIf="owner.invalid && (owner.dirty || owner.touched)" class="text-danger">
          <div *ngIf="owner.errors?.['required']">Owner is required.</div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" [disabled]="billForm.invalid">
          {{ isBillEditMode ? 'Update' : 'Save' }} Bill
        </button>
      </div>
    </div>
  </form>
</p-dialog>