@import "bootstrap/dist/css/bootstrap.css";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


/* styles.css */

html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, #000000, #4D4855); /* Black to dark gray gradient */
    color: #ffffff; /* White text color for contrast */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    position: relative;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

