<div class="container mt-4">
  <header class="d-flex flex-column align-items-center mb-4">
    <h1 class="mb-4">Dashboard</h1>
    <p class="welcome-message">Welcome, {{ showusername }}!</p>
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <button pButton type="button" (click)="logout()" label="Logout" class="nav-link custom-button">  <i class="fa fa-sign-out-alt logout-icon"z></i>  </button>
        </li>
      </ul>
    </nav>
  </header>

<div *ngIf="displayBills" class="mb-4">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h2 class="m-0"><i class="fas fa-file-invoice-dollar bills-icon"></i> Bills Section</h2>
      <div class="p-input-icon-left">
        <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search keyword" />
      </div>
    </div>
    <p-table
      #dt2
      [value]="bills"
      [paginator]="true"
      [rows]="10"
      [globalFilterFields]="['housename', 'meterNumber', 'billDate', 'billStatus', 'owner']"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="table-cell-padding">Bill ID</th>
          <th class="table-cell-padding">Used Unit</th>
          <th class="table-cell-padding">Total in MMK</th>
          <th pSortableColumn="billStatus" class="table-cell-padding">Status</th>
          <th pSortableColumn="billDate" class="table-cell-padding">Create Date</th>
          <th class="table-cell-padding">House Name</th>
          <th class="table-cell-padding">Owner</th>
          <th class="table-cell-padding">Meter Number</th>
          <th pSortableColumn="dueDate" class="table-cell-padding">DueDate</th>
          <th pSortableColumn="paidDate" class="table-cell-padding">PaidDate</th>
          <th class="table-cell-padding">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bill>
        <tr>
          <td class="table-cell-padding">{{ bill.billId }}</td>
          <td class="table-cell-padding">{{ bill.usedUnit }} Watt</td>
          <td class="table-cell-padding">{{ bill.total }} MMK</td>
          <td class="table-cell-padding"
             [ngClass]="{
                   'status-unpaid': bill.billStatus === 'UNPAID',
                   'status-paid': bill.billStatus === 'PAID',
                   'status-overdue': bill.billStatus === 'OVERDUE'
                  }">
            {{ bill.billStatus }}
          </td>
          <td class="table-cell-padding">{{ bill.billDate | date: 'dd/MM/yyyy' }}</td>
          <td class="table-cell-padding">{{ bill.housename }}</td>
          <td class="table-cell-padding">{{ bill.owner }}</td>
          <td class="table-cell-padding">{{ bill.meterNumber }}</td>
          <td class="table-cell-padding">{{ bill.dueDate | date: 'dd/MM/yyyy' }}</td>
          <td class="table-cell-padding">{{ bill.paidDate ? (bill.paidDate | date: 'dd/MM/yyyy') : 'Not Paid' }}</td>
          <td class="table-cell-padding">
          <div class="mb-4">
            <button pButton type="button" (click)="showBillPopup(bill)" label="Pay Bills" class="nav-link custom-button">
              <i class="fa fa-money-bill-wave-alt"></i> Pay Bills
            </button>
          </div>
        </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="showPopup" modal="modal" [responsive]="true" [style]="{width: '600px', height: '800px'}">
  <div class="p-3 text-center popup-text" id="popupContent">
    <strong class="signboard-title">
      <i class="fas fa-sun"></i> <span class="seb-text">SEB</span> {{ billMonthTitle }}
    </strong><br />
    <hr />
    <div class="row">
      <div class="col-6">
        <span class="text-purple">Date:</span>
      </div>
      <div class="col-6">
        <span class="text-danger">{{ currentDate }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="text-purple">Owner:</span>
      </div>
      <div class="col-6">
        <span class="text-danger">{{ selectedBill?.owner }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="text-purple">Bill Print Date:</span>
      </div>
      <div class="col-6">
        <span class="text-danger">{{ selectedBill?.billDate | date: 'dd/MM/yyyy' }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="text-purple">House Name:</span>
      </div>
      <div class="col-6">
        <span class="text-danger">{{ selectedBill?.housename }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="text-purple">Meter Number:</span>
      </div>
      <div class="col-6">
        <span class="text-danger">{{ selectedBill.meterNumber }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="text-purple">Bill Due Date:</span>
      </div>
      <div class="col-6">
        <span class="text-danger">{{ selectedBill?.dueDate | date: 'dd/MM/yyyy' }}</span>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-6">
        <span class="text-purple">Used Unit:</span>
      </div>
      <div class="col-6">
        <span class="text-danger">{{ selectedBill?.usedUnit }} Watt</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="text-purple">1 unit per MMK:</span>
      </div>
      <div class="col-6">
        <span class="text-danger">100 MMK</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="text-purple">Tax:</span>
      </div>
      <div class="col-6">
        <span class="text-danger">5%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="text-purple">Total:</span>
      </div>
      <div class="col-6">
        <span class="text-danger">{{ selectedBill?.total }} MMK</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="text-purple">Bill Status:</span>
      </div>
      <div class="col-6">
        <span 
          [ngClass]="{
            'status-unpaid': selectedBill?.billStatus === 'UNPAID',
            'status-paid': selectedBill?.billStatus === 'PAID',
            'status-overdue': selectedBill?.billStatus === 'OVERDUE'
          }">
          {{ selectedBill?.billStatus }}
        </span>
      </div>
    </div>
    <br />
    <div class="text-purple">
      For Payment Please Contact the Office or Pay via Online Payment through KBZPay of Account Name SEB Team, Account number 09979920836.
    </div>
    <div class="text-danger">
      * Please Pay Before Due Date {{ selectedBill?.dueDate | date: 'dd/MM/yyyy' }} if late the Fines fee of 5000 MMK will be charged for extra and electricity will be cut off.<br />
    </div>
    <div class="text-primary">
      Thank you for using our service and we will always bring what is the best for our customers. <i class="fa-regular fa-handshake"></i><br />
    </div>
    <br />
    <div class="text-center text-success">
      Solar Electricity Management System
    </div>
  </div>
  <p-footer>
    <div class="button-container">
      <button type="button" pButton label="Print" icon="pi pi-print" (click)="printBill()" class="btn print-btn"></button>
      <button type="button" pButton label="Close" icon="pi pi-times" (click)="closePopup()" class="btn close-btn"></button>
    </div>
  </p-footer>
</p-dialog>


  